/*
Colores

fondo-gris/borde: #f3f3f3
nav: #9c9c9c;
nav-seleccionado: #212121

letra-clara: #808080;
letra-suave: #616161;
borde-suave/fondo-suave: #f3f3f3;

rosa: #FF4081

azul-cabecera: #3E50B4;

azul: #1875D1
azul-borde: #2F3E9E

granate: #A32C36
granate-borde: #551419

*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .2s;
    color: inherit;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity .2s;
    color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity .2s;
    color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity .2s;
    color: inherit;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    opacity: .2;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    opacity: .2;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    opacity: .2;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    opacity: .2;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent!important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
    font-family: "Roboto", sans-serif;    
}

body {
    background-color: #fafafa;
    color: #5c616c;
    margin: 0;
    font-size: 16px;
    position: absolute;
    width: 100%;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 9px 0;
}
h1 {
    font-size: 50px;
    font-weight: lighter;
}
h2 {
    font-size: 40px;
    font-weight: lighter;
}
h3 {
    font-size: 32px;
    font-weight: lighter;
}
h4 {
    font-size: 26px;
    font-weight: lighter;
}
h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
h6 {
    padding-left: 30px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}
section {
    letter-spacing: 0.2px;
    font-size: 13px;
    line-height: 24px;
    overflow: auto;
}
hr {
    width: 50%;
    border: 3px solid #5c616c;
    background-color: #5c616c;
    border-radius: 4px;
}

input[type=text], textarea, input[type=checkbox], input[type=radio] {
    border: 2px solid black;
    background: white;
}
input[type=text], textarea {
    color: black;
    border-radius: 2px;
    margin: 7px 0;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: text;
}
input[type=checkbox], input[type=radio] {
    cursor: pointer;
    height: 20px;
    width: 20px;
    box-shadow: inset 0 0 0px 2px white;
    vertical-align: bottom;
    position: relative;
    top: 0.5px;
    margin: 0 5px;
}
input[type=checkbox]:checked, input[type=radio]:checked { background: #1875D1 }
input[type=checkbox] { border-radius: 2px; }
input[type=radio] { border-radius: 20px; }
textarea { padding: 10px; }

label.checktext {
    width: auto; 
    padding: 0;
}
label.checktext input { display: none; }
label.checktext span {
    display: inline-block;
    cursor: pointer;
    color: #5c616c;
    border-bottom: 2px solid #5c616c;
    margin: 10px;
}
label.checktext input:checked + span {
    color: black;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 5px solid #1875D1;
}

.blue-button, .red-button, .green-button {
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 130px;
    border: 3px solid;
    line-height: 40px;
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: .3s;
}
.blue-button:hover, .red-button:hover, .green-button:hover {
    letter-spacing: 1px;
}
.blue-button:active, .red-button:active, .green-button:active, .blue-button.active, .red-button.active, .green-button.active {
    box-shadow: none;
    border-color: black;
    color: black;
    background: white;
}
.blue-button {
    background: #1875D1;
    border-color: #2F3E9E;
}
.red-button {
    background: #A32C36;
    border-color: #551419;
}
.green-button {
    background: #009587;
    border-color: #00756a;
}

.rounded-button {

}

.paper {
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 10px 20px;
    background-color: white;
    margin-top: 20px;
    min-height: 100px;
    color: black;
    letter-spacing: 0px;
    line-height: normal;
}

.with-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.selectable {
    cursor: text;
    user-select: auto;
}
::selection {
    color: white;
    background: black;
}