@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: opacity .2s;
    color: inherit;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity .2s;
    color: inherit;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity .2s;
    color: inherit;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity .2s;
    color: inherit;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
    opacity: .2;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {
    opacity: .2;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    opacity: .2;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
    opacity: .2;
}

* {
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent!important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)!important;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;    
    color: #5c616c;
    margin: 0;
    font-size: 13px;
}

a:link, a:visited, a:active {
    color: #1875D1;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a * { cursor: pointer!important; }

a:hover { text-decoration: underline}

label {
    cursor: pointer;
    display: inline-block;
    padding: 9px 0;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
    line-height: 70px;
}
h2 {
    font-size: 40px;
    font-weight: lighter;
    line-height: 50px;
}
h3 {
    font-size: 32px;
    font-weight: lighter;
    line-height: 40px;
}
h4 {
    font-size: 26px;
    font-weight: lighter;
    line-height: 38px;
}
h5 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
h6 {
    padding-left: 30px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

section, article, .section, .article, .paper {
    letter-spacing: 0.2px;
    line-height: 2em;
    word-wrap: break-word;
 	word-break: normal;
    line-height: 2em;
}

hr {
    width: 50%;
    border: 3px solid #5c616c;
    background-color: #5c616c;
    border-radius: 4px;
}

input:not([type=submit]):not([type=radio]):not([type=checkbox]), textarea {
    border: 2px solid black;
    background: white;
    color: black;
    border-radius: 2px;
    margin: 7px 0;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: text;
}
input[type=checkbox], input[type=radio] {
    font-size: 1em;
    border: .15em solid black;
    background: white;
    margin: 7px 0;
    cursor: pointer;
    height: 1.2em;
    width: 1.2em;
    box-shadow: inset 0 0 0 2px white;
    vertical-align: text-top;
    margin: 0 5px;
    padding: 0;
}

input[type=checkbox]:checked, input[type=radio]:checked { background: #1875D1 }
input[type=checkbox] { border-radius: .15em; }
input[type=radio] { border-radius: 100%; }
textarea {
	padding: 10px;
	height: 200px
}

label.checktext {
    width: auto; 
    padding: 0;
}
label.checktext input { display: none; }
label.checktext span {
    display: inline-block;
    cursor: pointer;
    color: #5c616c;
    border-bottom: 2px solid #5c616c;
    margin: 10px;
    line-height: 1em;
}
label.checktext input:checked + span {
    color: black;
    font-weight: bold;
    font-size: 2.5em;
    border-bottom: 5px solid #1875D1;
}
.onoffswitch * { cursor: pointer }
.onoffswitch div {
    text-align: left;
	position: relative;
    padding: 0;
	width: 96px;
	display: inline-block;
	overflow: hidden;
	background: #551419;
	border: 5px solid #551419;
	border-radius: 23px;
	transition: border-color 0.2s ease-in 0s;
}
.onoffswitch div::after {
    content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 45px;
	transition: right 0.2s ease-in 0s;
	will-change: right;
	height: 34px;
	width: 34px;
	border-radius: 17px;
	margin: 3px;
	background: white;
}
.onoffswitch input{display: none;}
.onoffswitch span {
	width: 200%;
	margin-left: -100%;
	transition: margin 0.2s ease-in 0s;
	will-change: margin;
	display: block;
}
.onoffswitch span:before, span:after {
	text-shadow: 0 0 1px white;
	color: white;
	float: left;
	width: 50%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
.onoffswitch span:before {
	content: "I";
	padding-left: 20px;
	background: #1875D1;
}
.onoffswitch span:after {
	content: "O";
	padding-right: 20px;
	background: #A32C36;
	text-align: right;
}
.onoffswitch input:checked + div span:first-child { margin-left: 0; }
.onoffswitch input:checked + div::after { right: 0; }
.onoffswitch input:checked  + div {
	border-color: #2F3E9E;
	background: #2F3E9E;
}

.blue-button, .red-button, .green-button {
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-top: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 130px;
    border: 3px solid;
    line-height: 40px;
    display: block;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: border .2s, background .2s, letter-spacing .2s, color .2s;
}
.blue-button:hover, .red-button:hover, .green-button:hover {
    letter-spacing: 1px;
}
.blue-button:active, .red-button:active, .green-button:active, .blue-button.active, .red-button.active, .green-button.active {
    box-shadow: none;
    border-color: black;
    color: black;
    background: white;
}
.blue-button {
    background: #1875D1;
    border-color: #2F3E9E;
}
.red-button {
    background: #A32C36;
    border-color: #551419;
}
.green-button {
    background: #009587;
    border-color: #00756a;
}

.rounded-button {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    border-radius: 100%;
    z-index: 10;
    font-size: 30px;
    line-height: 53px;
    text-align: center;
    color: white;
    background: #ba174e;
    display: block;
}

.paper {
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 10px 20px;
    background-color: white;
    margin-top: 20px;
    min-height: 100px;
    color: black;
    letter-spacing: 0px;
}

.with-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.selectable,.selectable * {
  cursor: auto;
  user-select: text;
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

::selection {
  color: #fff;
  background: #000;
}
