body > section, .paper {
    width: 500px;
    margin: 40px auto;
}

input[type="text"] { width: 50%; }
textarea {
    width: 100%;
    max-width: 100%;
    height: 200px;
}
input[type="text"], textarea { margin 7px; }
label { width: 228px; }